<!doctype html>
<html lang="en" ng-app="chordFinderApp">
<head>
  <meta charset="utf-8">
  <title>Crickets Chord Creator</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/chordController.js"></script>
  <script src="js/scaleController.js"></script>
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/raphael.js" type="text/javascript"></script>
  <script src="js/jtab.js" type="text/javascript"></script>
 
</head>
<body>

	<div class="container-fluid">
		<div class="page-header">
		  <h1>Crickets Make Chords <small>and scales</small></h1>
		</div>
		<div class="panel panel-default" ng-controller="NoteListCtrl">
			<div class="panel-heading">Chord Generator</div>
	  		<div class="panel-body">

	  			<div class="row">
	  				<div class="col-lg-2">
	  					<select class="form-control chord-form-control" id="chord-note" ng-model="chordNote" ng-change="chordDescription()">
							<option ng-repeat="note in notes" value="{{note}}">{{note}}</option>
						</select>
	  				</div>
	  				<div class="col-lg-3">
	  					<select class="form-control chord-form-control" id="chord-type" ng-model="chordType" ng-change="chordDescription()">
							<option ng-repeat="chordType in chordTypes" value="{{chordType.label}}">{{chordType.label}}</option>
						</select>
	  				</div>
	  				
	  			</div>
	  			<br>

	  			<div class="row">

	  				<div class="col-lg-6">

			  			<table class="table table-bordered">
			  				<tr>
			  					<th ng-repeat="chordFormulaStep in chordFormula">
								    {{chordFormulaStep}}
							    </th>
			  				</tr>
			  				<tr>
			  					<td ng-repeat="noteInChord in notesInChord">
							    	{{noteInChord}}
							    </td>	
			  				</tr>
		  				</table>
		  				<div class="jtab" id="notationContainer"></div>
	  				</div>

  				</div>

		    </div>
		</div>

		
		<div class="panel panel-default" ng-controller="ScaleCtrl">
			<div class="panel-heading">Scale Generator</div>
	  		<div class="panel-body">

	  			<div class="row">
	  				<div class="col-lg-2">
	  					<select class="form-control" ng-model="scaleNote" ng-change="getScale()">
							<option ng-repeat="note in notes">{{note}}</option>
						</select>
	  				</div>
	  				<div class="col-lg-3">
	  					<select class="form-control" ng-model="scaleType" ng-change="getScale()">
							<option ng-repeat="scaleMode in scaleModes">{{scaleMode.label}}</option>
						</select>
	  				</div>	
	  			</div>
	  			<br>

	  			
	  			<div class="row">

	  				<div class="col-lg-6">

			  			<table class="table table-bordered">
			  				<tr>
			  					<th width="14%" ng-repeat="scaleFormulaStep in scaleFormula">
								    {{scaleFormulaStep}}
							    </th>
			  				</tr>
			  				<tr>
			  					<td ng-repeat="noteInScale in notesInScale">
							    	{{noteInScale}}
							    </td>	
			  				</tr>
			  				<tr>
			  					<td ng-repeat="compatiblieChord in compatiblieChords">
			  						<span ng-repeat="chord in compatiblieChord.chords">
		  							<button type="button" class="btn btn-default btn-xs btn-chord" ng-click="updateChord(compatiblieChord.note, chord)">		
		  								{{chord}}
		  							</button>
		  							</span>
							    </td>	
			  				</tr>
		  				</table>
		  				
	  				</div>

  				</div>


		    </div>
		</div>

	</div>
</body>
</html>